@import "../imports.scss";

.production {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 12.6rem;
}

.production__pop-up {
  height: 100vh;
  width: 100vw;
  background-color: rgba(77, 37, 71, 0.663);
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}
.pop-up__item {
  position: absolute;
  max-width: 50vw;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.pop-up__video {
  max-width: 50vw;
}
.close-btn {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -4rem;
  right: -3rem;
  z-index: 3;
}
.close-btn_1 {
  top: 1.3rem;
  left: -7px;
  position: absolute;
  width: 4rem;
  height: 1.5px;
  background-color: #fff;
  transform: rotate(45deg);
}
.close-btn_2 {
  top: 1.3rem;
  left: -7px;
  position: absolute;
  width: 4rem;
  height: 1.5px;
  background-color: #fff;
  transform: rotate(-45deg);
}



.wave-static__img {
  width: 100%;
  position: absolute;
  top: -20.5rem;
  z-index: -1;
}
.production-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(1fr, 3);
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: repeat(1fr, 2);
  row-gap: 3.5rem;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.production-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.production__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.production-video-slider {
  margin-top: 0.5rem;
  min-width: 52.2vw;
  height: 19vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  overflow: hidden;
}
.production-video-slider__inner {
  height: 100%;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2vw;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.production-video-slider__item {
  width: 18vw;
  height: 10.5vw;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  // filter: blur(1px);
}
.slider-item__video {
  width: 100%;
  height: 100%;
}
.play-btn {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 20%;
  border-radius: 50%;
  fill: rgb(10, 232, 232);
  background-color: rgba(255, 255, 255, 0.476);
  cursor: pointer;
}

.slider-item_active {
  width: 32.2vw;
  height: auto;
  filter: blur(0px);
}
.production__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.7rem;
}

.production__btn_right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.production__ellipse-btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: end;
  justify-self: end;
}
