@import "../imports.scss";
.opinion {
  padding-top: 8.5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.opinion_main {
  max-width: 22%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.opinion-slider {
  width: 58vw;
  max-width: 75rem;
  height: 37vw;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.opinion-slider__item {
  position: relative;
  min-width: 100%;
  height: 35vw;
  max-height: 50rem;
  position: relative;
  // transition: 1s;
}
.opinion-slider__video {
  width: 100%;
  // height: 45rem;
  // transition: 1s;
  // display: none;
}
.opinion__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.476);
}
.opinion-slider-pagination {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.opinion-slider-pagination__item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgb(59, 12, 59);
}
.pagination__item_active {
  background-color: rgb(59, 12, 59);
}


