@import "../imports.scss";
.opinion {
  padding-top: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4rem;
}
.opinion_main {
  max-width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.2rem;
}

.opinion-slider {
  width: 58vw;
  max-width: 75rem;
  height: 37vw;
  max-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.opinion-slider__item {
  position: relative;
  min-width: 100%;
  height: 35vw;
  max-height: 50rem;
  position: relative;
}
.opinion-slider__video {
  width: 100%;
}
.opinion__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8rem;
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.476);
}
.opinion-slider-pagination {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1.5rem;
}
.opinion-slider-pagination__item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgb(59, 12, 59);
}
.pagination__item_active {
  background-color: rgb(59, 12, 59);
}
