@media screen and (max-width: 1199px) {
  .h2__title {
    font-size: 2.5rem;
  }
  .description-content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: repeat(1fr, 7);
  }

  .description__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: none;
    width: 100%;
    padding-bottom: 0;
  }

  .slider {
    position: relative;
    width: 50rem;
    height: 400px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row-align: start;
    align-self: start;
    top: -1rem;
  }
  .slider__inner {
    width: calc(50rem * 3 + 4rem);
    gap: 6rem;
    height: 100%;
  }

  .slider__item {
    position: relative;
    width: 50rem;
    height: 100%;
  }

  .slider__item_1 {
    background-image: url("../images/venarus_900-100-2.png");
    background-repeat: no-repeat;
    background-position: 0% 9.5rem;
    background-size: 60rem auto;
    &::before {
      width: 45rem;
      height: 100%;
      background-size: 50rem auto;
      background-position: -1rem 1.5rem;
    }
    &::after {
      display: none;
    }
  }

  .slider__item_1,
  .slider__item_2 {
    background-position: 30% 5.5rem;
  }

  .description__buttons {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .description__ellipse-btn {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }

  .advantages .inner-container {
    gap: 0px;
  }
  .instruction__item {
    padding: 0;
  }
  .advantages__item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    &:nth-child(1) {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      max-width: 30%;
      gap: 1rem;
    }
    &:nth-child(2) {
      max-width: 30%;
      gap: 1rem;
    }

    &:nth-child(3) {
      max-width: 30%;
      gap: 1rem;
      margin-left: 0rem;
    }
  }

  .advantages__info-icon {
    width: 2rem;
    height: 2rem;
    right: 0%;
    bottom: 0;
  }

  .effects__icon_4 {
    -webkit-animation: rotate 6s ease infinite;
    animation: rotate 6s ease infinite;
  }
  .effects__icon_5 {
    left: 0%;
    top: -2rem;
  }

  .production {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .production-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 3);
    row-gap: 2rem;
  }

  .production-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .production__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
  }
  .production-video-slider {
    margin-top: 0.5rem;
    width: 100%;
    height: 30vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    position: relative;
    overflow: hidden;
  }

  .slider-item_active {
    width: 40.5vw;
    height: auto;
  }

  .production__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .production__ellipse-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column-align: center;
    justify-self: center;
    @include ellipse-button(#5b0e58);
  }
}

@media screen and (max-width: 1199px) {
  .purchase__image {
    height: 41rem;
    width: 57vw;
    background-position: 70% 2rem;
    &::after {
      top: -9rem;
      right: -2rem;
      width: 40vw;
      background-position: 50% 2rem;
      z-index: -1;
    }
  }
  .purchase__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .purchase__ellipse-btn {
    &:hover {
      background-color: #47093e;
      color: white;
    }
  }
}
