@media screen and (max-width: 991px) {
  .description-content {
    grid-column-gap: 2rem;
    grid-row-gap: 0rem;
    grid-template-rows: repeat(1fr, 7);
  }

  .description__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: none;
    width: 100%;
    padding-bottom: 0;
  }
  .instruction__item {
    &:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
    }
    &:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-row: 3/4;
    }
    &:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 6;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
    }
  }
  .slider {
    position: relative;
    width: 40rem;
    height: 300px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row-align: start;
    align-self: start;
    top: -1rem;
    right: 0;
  }
  .slider__inner {
    width: calc(40rem * 3 - 2rem);
    height: 100%;
  }

  .slider__item {
    position: relative;
    width: 40rem;
    height: 100%;
    background-position: center center;
    background-size: 150% auto;
  }

  .slider__item_1 {
    background-image: url("../images/venarus_900-100-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150% auto;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  .description__buttons {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .description__ellipse-btn {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .advantages .inner-container {
    gap: 0px;
  }

  .advantages__item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    &:nth-child(1) {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      max-width: 30%;
      gap: 1rem;
    }
    &:nth-child(2) {
      max-width: 30%;
      gap: 1rem;
    }

    &:nth-child(3) {
      max-width: 30%;
      gap: 1rem;
      margin-left: 0rem;
    }
  }

  .advantages__text {
    color: #242424;
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 154.8%;
  }

  .effects {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6.5rem;
    text-align: center;
  }
  .production__title {
    text-align: center;
  }
  .effects__description_main {
    max-width: 100%;
    width: 100%;
  }

  .effects__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20%;
  }
  .effects__link {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .effects__description {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .effects__icon_1 {
    left: 0%;
    top: 0rem;
  }
  .effects__icon_2 {
    right: 0%;
    top: 0rem;
  }
  .effects__icon_4 {
    right: 2%;
    top: 2.1rem;
  }
  .wave-static__img {
    top: -0rem;
  }

  .production-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
    row-gap: 2rem;
  }

  .production-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .production__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
  }

  .production-video-slider {
    margin-top: 0.5rem;
    width: 100%;
    height: 40vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    position: relative;
    overflow: hidden;
  }
  .production__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .production__btn_right,
  .production__btn_left {
    @include round-button-small(#5b0e58);
  }
  .production__ellipse-btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column-align: center;
    justify-self: center;
    @include ellipse-button-small(#5b0e58);
  }
  .slider-item_active {
    width: 59vw;
    height: auto;
  }

  .opinion {
    padding-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
  }

  .opinion_main {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .opinion-slider {
    width: 100%;
    height: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .opinion-slider__item {
    position: relative;
    min-width: 100%;
    min-height: 44vw;
    position: relative;
  }
  .opinion-slider__video {
    min-height: 45vw;
  }
  .opinion-slider-pagination {
    gap: 1rem;
  }
  .opinion-slider-pagination__item {
    width: 1rem;
    height: 1rem;
  }

  .opinion__play-btn {
    width: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .wave-info {
    top: 0;
    height: 30rem;
  }
  .info {
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    .sectiom-main-text {
      width: 100%;
      text-align: center;
    }
  }

  .info__main-text {
    max-width: 0;
    min-width: 100%;
    text-align: center;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info__title {
    width: 100%;
    text-align: center;
  }
  .info__links {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto auto;
    row-gap: 1.5rem;
    column-gap: 0;
    padding-top: 2rem;
  }
  .info__link {
    display: flex;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 3.6rem;
    color: #fff;
    padding: 2.4rem 2.1rem 2.8rem;
    overflow-wrap: break-word;
    transition: 0.5s;
    &:hover {
      transform: scale(1.05);
    }
    justify-self: center;
  }
  .info__link_1 {
    height: 45.7rem;
    width: 26.3rem;
    background-image: linear-gradient(
        179.96deg,
        rgba(71, 9, 62, 0.9) -0.95%,
        rgba(71, 9, 62, 0) 99.97%
      ),
      url("../images/1.png");
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .info__link_2 {
    height: 22.1rem;
    width: 26.3rem;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .info__link_3 {
    width: 26.3rem;
    height: 22.1rem;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .info__link_4 {
    display: none;
  }
  .info__ellipse-btn {
    grid-column: 1/3;
    grid-row: 4/5;
    justify-self: center;
  }
}

@media screen and (max-width: 991px) {
  .purchase {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .purchase__main-text {
    max-width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .purchase__title {
    max-width: 100%;
    text-align: center;
  }
  .purchase__image {
    height: 41rem;
    min-width: 30rem;
    width: 100%;
    background-size: cover;
    &::after {
      width: 65vw;
    }
  }
  .purchase__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
