@mixin ellipse-button-small($color) {
  width: 13.3rem;
  max-height: 3.4rem;
  padding: 1rem 2.5rem 1rem;
  color: $color;
  border: 1px solid $color;
  border-radius: 3.35rem;
  background-color: inherit;
  font-size: 1.3rem;
  transition: .3s;
}

@mixin ellipse-button($color) {
  width: 26.3rem;
  max-height: 6.7rem;
  padding: 2.071rem 7.8rem 2.529rem;
  color: $color;
  border: 1px solid $color;
  border-radius: 3.35rem;
  background-color: inherit;
  font-size: 1.7rem;
  transition: .3s;
}

@mixin ellipse-button-hover($color) {
  color: rgba($color: $color, $alpha: 0.3);
  border: 1px solid rgba($color: $color, $alpha: 0.3);
}

@mixin round-button($color) {
  width: 6.8rem;
  height: 6.8rem;
  display: flex;
  background-color: inherit;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid $color;
  border-radius: 50%;
  transition: .3s;
}

@mixin round-button-small($color) {
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  background-color: inherit;
  background-image: url('../images/arrow-purple.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid $color;
  border-radius: 50%;
  transition: .3s;
}

@mixin round-button-hover($color) {
  color: rgba($color: $color, $alpha: 0.3);
  border: 1px solid rgba($color: $color, $alpha: 0.3);
  // background-image: url('../images/arrow-inactive.svg');
  // background-repeat: no-repeat;
  // background-position: center center;
}

@mixin h2-title () {
  font-size: 3rem;
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  line-height: 3.6rem;
}

@mixin section-text($color) {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 154.8%;
  color: $color;
}