@import "./abstracts/_vars.scss";
@import "./abstracts/_mixins.scss";
@import "./fonts/fonts.scss";
@import "./animations/_wave-animation.scss";
@import "./animations/_wave-descr-animation.scss";
@import "./animations/_marquee.scss";
